@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
}


html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

.section {
  max-width: 1600px;
  padding: 0px 12px;
  margin: 0 auto; 
}

@media (min-width: 768px) { /* md */
  .section {
    padding: 0px 30px;
  }
}

@media (min-width: 1024px) { /* lg */
  .section {
    padding: 0px 40px;
  }
}

@media (min-width: 1280px) { /* xl */
  .section {
    padding: 0px 50px;
  }
}


.section-my {
  margin: 30px auto;
}

@media (min-width: 768px) {
  .section-my {
    margin: 40px auto;
  }
}

@media (min-width: 1024px) {
  .section-my {
    margin: 120px auto;
  }
}

.select-none {
  user-select: none; /* Prevent text selection */
}


/* .section-py {
  padding: 30px auto;
}

@media (min-width: 768px) {
  .section-py {
    padding: 40px auto;
  }
}

@media (min-width: 1024px) {
  .section-py {
    padding: 120px auto;
  }
} */



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 95%; /* Light background */
    --foreground: 0 0% 5.1%; /* Dark foreground */
    --card: 0 0% 92%; /* White card */
    --card-foreground: 0 0% 5.1%; /* Dark text on card */
    --popover: 0 0% 95%; /* White popover */
    --popover-foreground: 0 0% 5.1%; /* Dark text on popover */
    --primary: 78 88% 67%; /* Light green for buttons */
    --primary-foreground: 100 9% 13%; /* White text on primary */
    --secondary: 100 9% 13%; /* Dark green background */
    --secondary-foreground: 0 0% 95%; /* White text on secondary */
    --tertiary: 159 92% 10%; /* Dark green background */
    --tertiary-foreground: 0 0% 95%; /* White text on tertiary */
    --muted: 0 0% 78%; /* Muted text */
    --muted-foreground: 0 0% 70%; /* Muted foreground */
    --accent: 210 6.6% 36.9%; /* Muted text for accent */
    --accent-foreground: 0 0% 100%; /* White text on accent */
    --destructive: 0 84.2% 60.2%; /* Destructive color */
    --destructive-foreground: 0 0% 100%; /* White text on destructive */
    --border: 0 0% 92.5%; /* Light border */
    --input: 0 0% 92.5%; /* Light input background */
    --ring: 78 88% 67%; /* Light green ring */
    --chart-1: 74 32% 76%; /* Chart color 1 */
    --chart-2: 60 8% 90%; /* Chart color 2 */
    --chart-3: 222, 81%, 94%; /* Chart color 3 */
    --radius: 0.5rem; /* Border radius */
  }
  .dark {
    --background: 0 0% 5.1%; /* Dark background */
    --foreground: 0 0% 95%; /* Light foreground */
    --card: 0 0% 10%; /* Dark card */
    --card-foreground: 0 0% 95%; /* Light text on card */
    --popover: 0 0% 5.1%; /* White popover */
    --popover-foreground: 0 0% 95%; /* Dark text on popover */
    --primary: 78 88% 67%; /* Light green for buttons */
    --primary-foreground: 100 9% 13%; /* White text on primary */
    --secondary: 100 9% 13%; /* Dark green background */
    --secondary-foreground: 0 0% 95%; /* White text on secondary */
    --tertiary: 159 92% 10%; /* Dark green background */
    --tertiary-foreground: 0 0% 95%; /* White text on tertiary */
    --muted: 0 0% 20%; /* Dark muted text */
    --muted-foreground: 0 0% 70%;; /* Muted foreground */
    --accent: 0 0% 5.1%; /* Dark accent */
    --accent-foreground: 0 0% 100%; /* White text on accent */
    --destructive: 0 62.8% 30.6%; /* Dark destructive color */
    --destructive-foreground: 0 0% 100%; /* White text on destructive */
    --border: 0 0% 10%; /* Dark border */
    --input: 0 0% 10%; /* Dark input background */
    --ring: 0 0% 100%; /* White ring */
    --chart-1: 74 32% 76%; /* Chart color 1 */
    --chart-2: 60 8% 90%; /* Chart color 2 */
    --chart-3: 222, 81%, 94%; /* Chart color 3 */
    --radius: 0.5rem; /* Border radius */
}

}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logoSilder {
  animation: slide 15s linear infinite;
}


::-webkit-scrollbar {
  display: none;
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #59e801; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #42dc00; 
} 


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll linear infinite var(--animation-duration, 70s);
  animation-direction: var(--animation-direction, forwards);
}



.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}